#box {
  padding-top: 10px;
  margin-top: 50px;
}

.titulo{
	text-align: center;
}

#googleMap{
	width:100%;
	height:550px;
}

#moto-search{
	margin-top: 50px;
	padding: 20px;
	margin-bottom: 70px;
	border-radius: 10px;
	background: rgba(240, 240, 240, 0.75);
}

#titulo_principal{
	border-radius: 10px;
	background: rgba(240, 240, 240, 0.75);
	padding: 15px;
}

#titulo_ventas{
	width: 100%;
	background: rgba(240, 240, 240, 0.75);
}


.selector{
	margin-top: 25px;
}

#googleMap{
	margin: 0px;
}

#imagen_moto{
	margin-bottom: 20px;
}

#video_moto{
	margin-bottom: 20px;
}

#estrellas{
	font-size: 50px;
	text-align: center;
	color: #e6b800;
}

.box_color{
	background-color: #ffffff;
	width: 75px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	margin-left: 15px;
	cursor:pointer;
}

#colores{
	width: 100%;
}

#botones
{
	margin-bottom: 30px;
}

#titulo_precio{
	font-size: 20px;
}



#precio {
	font-size: 20px;
	font-weight: bold;
	font-family: "Oswald", "Arial", sans-serif;
	color: #31b4b6;
	text-align: right;
	width: auto;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

